em.enfasis {
    font-style: bold;
}

body {
    font-family:Arial;
}

.trabajo { 
    border:3px solid black;
    border-radius:22px;
    padding:9px;
}

.educacion {
    border:3px solid black;
    border-radius:22px;
    padding:9px;
}

.referencias {
    border:3px solid black;
    border-radius:22px;
    padding:9px;
}

#informacion {
    border:3px solid black;
    border-radius:22px;
    padding:9px;
}

#titular {
    border:3px solid black;
    border-radius:22px;
    padding:9px;
}


img {
    float:right;

    max-width: 8rem; /* Define un ancho máximo para la imagen */
    height: 8rem; /* Mantiene la proporción de la imagen */
 
}
